.navigate {
    margin-left: 151px;
}
.list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.item {
    
    padding: 10px 20px;
}

.item:hover {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.text {
    font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
}
