.lang_list {
  list-style: none;
  padding: 0;
  display: flex;
}

.lang_item {
}

.lang_item:last-child {
  margin-left: 10px;
}

.lang_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.lang_item:hover {
  transform: scale(1.25);
}
