.calc_wraper {
}
.calc_title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}
.calc_text {
  width: 597px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  color: #ffffff;
}

.calc_btn {
  border: none;
  height: 49px;
  width: 215px;
  background: #ffffff;
  /* Main Shadow */

  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Grey 1 */

  color: #2e2e2e;
}

.calc_btn:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

// .calc_btn:active {
//   border: 2px solid linear-gradient(to right top, blue, skyblue, blue);
//   border-image: linear-gradient(to right top, blue, skyblue, blue);
//   //   border-image-source: linear-gradient(98.82deg, #0048b6 15.6%, #86009c 85.6%);

//   //   background: linear-gradient(98.82deg, #0048b6 15.6%, #86009c 85.6%),
//   //     linear-gradient(0deg, #ffffff, #ffffff);
//   //   color: Gradient Dark;
// }
